<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=projectName%></title>
    </head>
    <body>
        <div id="root"></div>

        <script src="./resources/js/defaultConfig.js"></script>
        <script src="./resources/lib/gtmd-ie.min.js"></script>
        <script src="./resources/lib/jquery.min.js"></script>
        <script src="./resources/lib/polyfill.min.js"></script>
    </body>
</html>
